.filters {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.filters div {
  position: relative;
  width: 120px;
  margin: 0 1.2px 0 10px;
}

.filters form {
  display: flex;
  align-items: center;
  border: solid 1px rgba(0, 0, 0, 0.2);
  width: 200px;
  padding: 6px;
  border-radius: 5px;
}

.filters form input {
  border: none;
  outline: none;
  padding-left: 8px;
}

.filters button {
  padding: 7px;
  background: inherit;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  outline: none;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.filters button span {
  margin-left: 5px;
}

.filters .options {
  position: absolute;
  background: white;
  border: solid 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  box-sizing: border-box;
  margin-top: 3px;
  border-radius: 5px;
  padding: 01px;
}

.filters .options button {
  border: none;
  border-radius: 0px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  padding: 12px 4px;
}

.filters .options button:hover {
  background: rgba(0, 0, 0, 0.06);
}

.filters .options button:last-child {
  border: none;
}
