.new--form,
.edit--form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.new--form label,
.edit--form label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.new--form input,
.new--form button,
.edit--form input,
.edit--form button {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.new--form input,
.new--form .show--class-options-button,
.edit--form input {
  border: solid 1px rgba(0, 0, 0, 0.2);
}

.new--form .show--class-options-button {
  display: flex;
  align-items: center;
  background: inherit;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.new--form button,
.edit--form button {
  margin-top: 10px;
  outline: none;
}

.edit--form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 4;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 400px;
  padding: 20px 40px;
}

.new--form .class--options {
  position: absolute;
  width: inherit;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background: white;
  height: 240px;
  overflow-y: auto;
  margin-top: -10px;
  border-top: none;
  width: 514px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.new--form .class--options button:first-child {
  border-top: none;
}

.new--form .class--options button {
  border: none;
  border-radius: 0;
  width: 100%;
  background: none;
  margin: 0;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  padding: 12px 0;
}

.new--form .class--options button:hover {
  background: rgba(0, 0, 0, 0.05);
}
