.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 17%;
  height: 100%;
  background: white;
  border-right: solid 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  font-family: arial;
  overflow-y: auto;
}

.sidebar h4 {
  padding-left: 10px;
}

.sidebar a {
  display: flex;
  align-items: center;
  font-size: 15px;
  text-decoration: none;
  color: black;
  padding: 6px 10px;
}

.sidebar a p {
  margin-left: 5px;
}

.sidebar a:hover {
  background: rgba(0, 0, 0, 0.03);
}

.sidebar .nav--active {
  border-right: solid 4px rgba(173, 216, 230, 1);
  background: rgba(173, 216, 230, 0.4);
}
