.app button:hover {
  cursor: pointer;
}

.app {
  font-family: arial;
  background: #fafafa;
  min-height: 97vh;
  margin: 0;
  width: 100%;
}

.page {
  background: white;
  padding: 25px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 80px 15px;
}

.table {
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  width: 100%;
  height: 100px;
  overflow: scroll;
  margin: 10px 0 40px 0;
  text-align: left;
  font-size: 0.9rem;
  border-radius: 6px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.table th,
.table tr,
.table td {
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 15px 10px;
  border-collapse: collapse;
  height: 20px;
}

.table tr:last-child,
.table td:first-child {
  border-bottom-left-radius: 10px;
}

/* submit btn*/
.submit--btn {
  background: #4682bf;
  color: white;
  border: none;
}
