.app button:hover {
  cursor: pointer;
}

.app {
  font-family: arial;
  background: #fafafa;
  min-height: 97vh;
  margin: 0;
  width: 100%;
}

.page {
  background: white;
  padding: 25px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0 15px;
}

.page span {
  font-size: 14px;
  margin-right: 10px;
}

.main {
  padding-top: 60px;
}

.table {
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  width: 100%;
  height: 100px;
  overflow: scroll;
  margin: 10px 0 40px 0;
  text-align: left;
  font-size: 0.9rem;
  border-radius: 6px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.table th,
.table tr,
.table td {
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 15px 10px;
  border-collapse: collapse;
  height: 20px;
}

.table tr:last-child,
.table td:first-child {
  border-bottom-left-radius: 10px;
}

.new--form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.new--form label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.new--form input,
.new--form button {
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.new--form button {
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.03);
}

.new--form button:hover {
  background: rgba(0, 0, 0, 0.06);
}

/* styles for filters.js */
.filters {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.filters div {
  position: relative;
  width: 120px;
  margin: 0 1.2px 0 10px;
}

.filters form {
  display: flex;
  align-items: center;
  border: solid 1px rgba(0, 0, 0, 0.2);
  width: 200px;
  padding: 6px;
  border-radius: 5px;
}

.filters form input {
  border: none;
  outline: none;
  padding-left: 8px;
}

.filters button {
  padding: 7px;
  background: inherit;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  outline: none;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.filters button span {
  margin-left: 5px;
}

.filters .options {
  position: absolute;
  background: white;
  border: solid 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  box-sizing: border-box;
  margin-top: 3px;
}

.filters .options button {
  border: none;
  border-radius: 0px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  padding: 12px 4px;
}

.filters .options button:hover {
  background: rgba(0, 0, 0, 0.06);
}

.filters .options button:last-child {
  border: none;
}

/*sidebar.js */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 17%;
  height: 100%;
  background: white;
  border-right: solid 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sidebar h4 {
  padding-left: 10px;
}

.sidebar a {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
  color: black;
  padding: 6px 10px;
}

.sidebar a p {
  margin-left: 5px;
}

.sidebar a:hover {
  background: rgba(0, 0, 0, 0.03);
}

.sidebar .nav--active {
  border-right: solid 4px rgba(173, 216, 230, 1);
  background: rgba(173, 216, 230, 0.4);
}

/* topbar.js */
.topbar {
  position: fixed;
  top: 0;
  left: 17%;
  width: 83%;
  height: 50px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  border-left: solid 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.topbar button {
  border: none;
  background: none;
  outline: none;
  font-size: 22px;
  padding-left: 20px;
}

.topbar p {
  padding-right: 20px;
  font-size: 15px;
  font-style: italic;
}
