.app button {
  outline: none;
}

.app .control-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.app .control-buttons button {
  border: none;
  background: inherit;
  padding: 8px 20px;
  background: #4682bf;
  color: white;
  margin-right: 5px;
  border-radius: 5px;
}

.app .control-buttons button:hover {
  opacity: 0.9;
}

.app .control-buttons button:last-child {
  background: #fe2c55;
}

.app .link {
  color: black;
  text-decoration: none;
}

.app .link:hover {
  text-decoration: underline;
}

.app button:hover {
  cursor: pointer;
}

.app .avatar--image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.app .avatar--image ~ p {
  font-size: 15px;
}

.app {
  font-family: arial;
  background: #fafafa;
  min-height: 97vh;
  margin: 0;
  width: 100%;
}

.app span {
  font-size: 15px;
  margin-right: 5px;
}

.page {
  background: white;
  padding: 25px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 80px 15px;
}

.table {
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  width: 100%;
  height: 100px;
  overflow: scroll;
  margin: 10px 0 40px 0;
  text-align: left;
  font-size: 0.9rem;
  border-radius: 6px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.table th,
.table tr,
.table td {
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 15px 10px;
  border-collapse: collapse;
  height: 20px;
}

.table tr:last-child,
.table td:first-child {
  border-bottom-left-radius: 10px;
}

/* submit btn*/
.submit--btn {
  background: #4682bf;
  color: white;
  border: none;
}

.app .edit--field-btn {
  border: none;
  background: none;
  margin-left: 5px;
}

/*clasees page */
.classes {
  display: flex;
  flex-direction: column;
}

.classes a {
  border: solid 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  padding: 12px;
  color: black;
  border-radius: 5px;
  font-family: 14px;
  text-decoration: none;
}

.classes a:hover {
  cursor: pointer;
  text-decoration: none;
}
